@font-face {
    font-family: Hatton; 
    src: url('../fonts/PP\ Hatton\ Bold\ 700.otf');
 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat';
}
/* -----------------------------Page1---------------------------- */
.page1{
    height: 90vh;
    width:100%;
    background-image: url(../images/bg_main.jpeg);
    background-position: center;
    background-size: cover;  
}
.page1 .row1{
    height:15vh;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding: 30px 0 0 30px;
}
.page1 .row1 .col1{
    width:15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.marbleDiv{
    height: 10vh;
    width: 3vw;
    background-image: url('../images/k_logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2vw;
    color: black;
    font-family: 'Hatton', serif;
    border: 1px solid black;
}
.page1 .row1 .col1 p{
    color:black;
    font-size: 2vw;
    letter-spacing: 0.3vw;
    font-family: 'Hatton', serif;
}
.page1 .row2{
    height:15vh;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding: 0 30px 0 0;
}
.page1 .row2 .col1{
    width:35vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.page1 .row2 .col1 h1,h4{
    color:black;
    font-family: 'Hatton', serif;
    margin-bottom: 0px;
}
.page1 .row2 .col1 h1{
    font-size: 2.5vw;
}
.page1 .row2 .col1 h4{
    font-size: 1.4vw;
}
.page1 .row2 .col1 a{
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 2vw;
    text-decoration: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    top: 5vh;right: 3vw;
    position: fixed;
}
/* -------------------------------------------- Page 2------------------------------ */
.page2{
    height: 60vh;
    width:100%;
    background-color: white;
    color:black;
}
.page2 .row1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page2 .row1 .col1{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page2 .row1 .col1 h2{
    font-size: 1.5vw;
    font-weight: 500;
    font-family: 'Hatton', serif;
}
.page2 .row1 .col1 h3{
    font-size: 1.5vw;
    font-weight: lighter;
    font-family: 'Hatton', serif;
}
.page2 .row1 .col1 p{
    font-family: 'ABeeZee';
}

/* -------------------------------------------- Page 3------------------------------ */
.page3{
    height: 90vh;
    width:100%;
    background-image: url(../images/Towers.jpeg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;  
}
/* -------------------------------------------Page4---------------------------------------------- */
.page4{
    height: 65vh;
    width:100%;
}
.page4 .row1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 5vw 5vh 5vw;
}
.page4 .row1 .col1{
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5vw 0 5vw;
}
.page4 .row1 .col2{
    width: 30%;
    height: 100%;
    background-image: url(../images/bg_main.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.page4 .row1 .col1 h2{
    font-size: 1.5vw;
    font-weight: 500;
    font-family: 'Hatton', serif;
}
.page4 .row1 .col1 h3{
    font-size: 1.5vw;
    font-weight: lighter;
    font-family: 'Hatton', serif;
}
.page4 .row1 .col1 p{
    font-family: 'ABeeZee';
}
/* -------------------------------------------Page5---------------------------------------------- */
.page5{
    height: 65vh;
    width:100%;
}
.page5 .row1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 5vw 5vh 5vw;
}
.page5 .row1 .col1{
    width: 30%;
    height: 100%;
    background-image: url(../images/amenities.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.page5 .row1 .col2{
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5vw 0 5vw;
}
.page5 .row1 .col2 h2{
    font-size: 1.5vw;
    font-weight: 500;
    font-family: 'Hatton', serif;
}
.page5 .row1 .col2 h3{
    font-size: 1.5vw;
    font-weight: lighter;
    font-family: 'Hatton', serif;
}
.page5 .row1 .col2 p{
    font-family: 'ABeeZee';
}
/* -------------------------------------------Page6---------------------------------------------- */
.page6{
    height: 65vh;
    width:100%;
}
.page6 .row1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 5vw 5vh 5vw;
}
.page6 .row1 .col1{
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5vw 0 5vw;
}
.page6 .row1 .col2{
    width: 30%;
    height: 100%;
    background-image: url(../images/comfort_living.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.page6 .row1 .col1 h2{
    font-size: 1.5vw;
    font-weight: 500;
    font-family: 'Hatton', serif;
}
.page6 .row1 .col1 h3{
    font-size: 1.5vw;
    font-weight: lighter;
    font-family: 'Hatton', serif;
}
.page6 .row1 .col1 p{
    font-family: 'ABeeZee';
}
/* -------------------------------------------Page7---------------------------------------------- */
.page7{
    height: 40vh;
    width:100%;
    background-color: #f3f5f9;
}
.page7 .row1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 5vw 5vh 5vw;
}
.page7 .row1 .col1 h2{
    font-family: 'Hatton', serif;
    font-weight: 100;
    font-size: 2.5vw;
}
.page7 .row1 .col1 p{
    font-family: 'ABeeZee';
    font-size: 3vw;
}
/* -------------------------------------------Page8---------------------------------------------- */
.page8{
    height:50vh;
    width:100%;
    background-color: #262830;
    color:white;
}
.page8 .row1{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.page8 .row1 .col1 img{
    height: 50vh;
    width: 50vw;
}
.page8 .row1 .col2 h2,h4{
    font-family: 'ABeeZee';
    color:white;
}


/* -------------------------------------------- Responsive------------------------------ */
@media screen and (max-width:600px) {
    .page1{
        height: 50vh;
        background-image: url(../images/bg_main_mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .page1 .row2{
        justify-content: center;
        padding: 0px;
    }
    .page1 .row2 .col1{
        width: auto;
        justify-content: center;
        align-items: center;
        /* background-color: white;
        opacity: 0.75; */
        padding: 5px;  
    }
    .page1 .row2 .col1 h1{
        font-size: 3vh;
    }
    .page1 .row2 .col1 h4{
        font-size: 1.5vh;
    }
    .page1 .row2 .col1 a{
        font-size: 2vh;
        /* top: 5vh;right: 3vw; */
    }    
    .marbleDiv{
        height: 5vw;
        width: 3vw;
    }
    /* -------------------------------------------Page2---------------------------------------------- */   
    .page2{
        height: 40vh;
    }
    .page2 .row1 .col1{
        width: 95%;
    }
    .page2 .row1 .col1 h2{
        font-size: 2.5vh;
        padding: 0;
    }
    .page2 .row1 .col1 h3{
        font-size: 1.5vh;
    }
    .page2 .row1 .col1 p{
        font-size: 1.3vh;
    }
    /* -------------------------------------------Page3---------------------------------------------- */
    .page3{
        height: 50vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* -------------------------------------------Page4---------------------------------------------- */
    .page4{
        height: 100vh;
        width:100%;
    }
    .page4 .row1{
        flex-direction: column;
        margin-top: 5vh;
    }
    .page4 .row1 .col1{
        width: 95%;
        height: 50%;
        padding: 0;
    }
    .page4 .row1 .col2{
        width: 95%;
        height: 50%;   
    }
    .page4 .row1 .col1 h2{
        font-size: 2.5vh;
        padding: 0;
    }
    .page4 .row1 .col1 h3{
        font-size: 1.5vh;
    }
    .page4 .row1 .col1 p{
        font-size: 1.3vh;
    }
    /* -------------------------------------------Page5---------------------------------------------- */
    .page5{
        height: 100vh;
        width:100%;
    }
    .page5 .row1{
        flex-direction: column-reverse;
        margin-top: 5vh;
    }
    .page5 .row1 .col2{
        width: 95%;
        height: 50%;
        padding: 0;
    }
    .page5 .row1 .col1{
        width: 95%;
        height: 50%;   
    }
    .page5 .row1 .col2 h2{
        font-size: 2.5vh;
        padding: 0;
    }
    .page5 .row1 .col2 h3{
        font-size: 1.5vh;
    }
    .page5 .row1 .col2 p{
        font-size: 1.3vh;
    }
    /* -------------------------------------------Page6---------------------------------------------- */
    .page6{
        height: 100vh;
        width:100%;
    }
    .page6 .row1{
        flex-direction: column;
        margin-top: 5vh;
    }
    .page6 .row1 .col1{
        width: 95%;
        height: 50%;
        padding: 0;
    }
    .page6 .row1 .col2{
        width: 95%;
        height: 50%;   
    }
    .page6 .row1 .col1 h2{
        font-size: 2.5vh;
        padding: 0;
    }
    .page6 .row1 .col1 h3{
        font-size: 1.5vh;
    }
    .page6 .row1 .col1 p{
        font-size: 1.3vh;
    }

    .page8{
        height: 80vh;
    }
    .page8 .row1{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .page8 .row1 .col1{
        width:95vw;
    }
    .page8 .row1 .col1 img{
        width:95vw;
    }
    .page8 .row1 .col2{
        width:95vw;
    }
}